.active {
  color: rgb(237, 42, 42);
}

a {
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
}

.category-item, details{
  background-color: rgba(128, 128, 128, 0.089);
  border: none;
}