.active {
  color: rgb(237, 42, 42);
}

a {
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
}

.gray{
  background-color: rgba(128, 128, 128, 0.074);
  border: none;
}

.logo {
  width: 25%;
  height: 100px;
}

.section {
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.066);
}

.error-emoji {
  height: 80px;
  width: 80px;
  display: block;
  margin: 50px auto;
  color: gold;
}
 
@media screen and (max-width: 576px) {
  .banner-img {
    width: 340px;
  }

  .banner-content {
    padding-top: 50px;
    text-align: center;
  }
}