.active {
  color: brown;
}

a {
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
}